main{
    
    text-align: center;
    position: relative;
}

body {
    max-width: 800px;
    height: auto;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    text-align: center;
    position: relative;
    font-family: "helvetica neue";
    font-weight: 200;
    letter-spacing: 1;
    left: auto;
   color: teal;
    margin: auto;
}

h2 {
    font-size: 25px;
    font-weight: 350;
    color: teal;
    padding: 10px;
}

#cont{
    width: 800px;
    display: block;
    height: auto;
   background-color: aliceblue;
    min-height: 100%;
    padding-top: 20px;
   text-align: center;
    padding-bottom: 20px;
    border: 1px solid teal;
}

#cont p {
    text-decoration: underline;
    font-size: 18px;
}
form {
    display: flex;
    margin: auto;
    justify-content: center;

}
input {
    width: 550px;
    height: 30px;
}

select {
    width: 275px;
     border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    background-color: white;
    border-radius: 0;
    margin: 1px;
    padding: 7px;
    background-color: teal;
    color: white;
   
}



input[type=submit] {
    width: 50px;
   height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    color: teal;   
    
}




#workTaskList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2em;
    padding: 10px;
    color: white;
    max-width: 600px;
    margin: auto;
    
    
}



#workTaskList > * {
  
 background-color: teal;
}


#teamMemberList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2em;
    padding: 10px;
    color: white;
    max-width: 600px;
    margin: auto;
    
}

#teamMemberList > * {
  
 background-color: teal;
}

#assignmentList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.2em;
    padding: 10px;
    color: white;
    max-width: 600px;
    margin: auto;
    
    
}

#assignmentList > * {
  
 background-color: teal;
}
