* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    letter-spacing: 1;
    color:  #126872;
    text-align: center;
    margin: auto;
    font-family: helvetica;
}
header {
    padding: 2%;
    margin: 1%;
}
#headerTitle{
    font-size: 6vmin;
    color: #126872;
    position: relative;
    
    
}
#aboutUs {
    display:block;
    position: relative;
    max-width: 400px;
    z-index: 2;
    margin-right: 2px;
    font-size: 80%;
    background-color: white; 
    visibility: hidden;
    float: left;
}

.about {
    margin-right: 2%;
    margin-left: 10%;
    position: fixed;
    display: inline-block;
    z-index: 2;
    
}

.about:hover {
      cursor: crosshair;
}
.about:hover #aboutus{
    visibility: visible;
}


.mainContainer{
    max-width: 1200px;
    margin: auto;
    max-height: 600px;
}
.gridElement{
    width: 100%;
    height: 100%;
    border-radius: 0.3vmin;
    
    background-color: #CBE3DE;
    margin: 2%
}
.gridContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 1%;
    padding: 1%;
    
     
    
}
.taskGridContainer {
    display: grid;
    grid-template-columns: 32.6% 32.6% 32.6% ;
    grid-template-rows: auto;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
    grid-auto-rows: auto;
    padding: 1%;
    overflow: auto;
    max-height: 500px;

}

select {
 color:aliceblue;
    background-color: teal;
    padding: 1%;
    margin: 2%;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    }
select p {
    margin: 1%;
}

select:focus {
    background-color: teal;
}

    


select option{
    background-color: aliceblue;
}







#assignTask {
    
}
.sideBar{
    width: 100%;
    
    

}
.sideBarElement{
    margin: 1%;
    padding: 1%;
    
    
}
.list {
    
    
}
#workTaskList{
    margin-top: 3%;
}
#teamMemberList {
    margin-top: 3%;
}

.sideBarHead {
    margin: 3%;
}

label {
    margin-left: 1px;
}

.dragDiv {
    min-height: 130px;
   
    border-radius: 0.3vmin;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #E9F5F0;
   
    
}
h3 {
    letter-spacing: 0.5vmin;
    font-weight: 400;
    font-size: 3vmin;
    margin: 2%;
    color: teal;
}
p {
    font-weight: 200;
    font-size: 140%;
}
#about {
    position: absolute;
    right: 10px;
}
@media only screen and (max-width: 1020px){
    p {
        font-size: 100%;
    }

@media only screen and (max-width: 750px){
    .taskGridContainer {
        grid-template-columns: 48% 48%;
    }
    .dragDiv {
        min-height: 70px;
    }
    .gridContainer {
        grid-template-columns: 30% 70%;
    }
    
    p {
        font-size: 80%;
    }
        
    }
    @media only screen and (max-width: 550px){
    .taskGridContainer {
        grid-template-columns: 98%;
        }
        .gridContainer {
            grid-template-columns: 35% 65%;
        }